.no-spacing {
  margin: 0;
  padding: 0;
}
body {
  margin: 0;
  padding: 0;
}
h1 {
  font-family: Georgia, serif;
}
a {
  text-decoration: none;
}
a:hover {
  color: blue;
}
nav {
  padding: 15px 25px;
  background: #005D65;
  color: white;
  margin: 0;
  font-family: "DeJaVu Sans", sans-serif;
}
nav header {
  display: inline-block;
  font-size: 25px;
  font-weight: bold;
}
nav ul {
  display: inline-block;
}
nav ul li {
  display: inline-block;
  padding: 0 12px;
}
nav ul li a {
  color: white;
  padding: 31px 18px;
}
nav ul li a:hover {
  color: #005D65;
  background-color: white;
}
@media (max-width: 654px) {
  nav ul li a {
    padding: 12px;
  }
}
@media (max-width: 366px) {
  nav ul li a {
    padding: 0;
  }
}
@media (max-width: 654px) {
  nav ul li {
    padding: 0 ;
  }
}
@media (max-width: 654px) {
  nav ul {
    padding: 0 10px;
  }
}
@media (max-width: 366px) {
  nav ul {
    padding: 0;
  }
}
