@import 'theme/variables';
@import 'components/nav';

@mixin no-spacing {
  margin: 0;
  padding: 0;
}

body {
  @include no-spacing;
  font-family: $font-main;
  font-weight: $font-normal;
  background: $colour-background;
}

h1 {
  font-family: $font-main;
  font-weight: $font-bold;
  color: $colour-brg;
  margin: 0;
  padding: 0.5rem 1rem;

  border-bottom: 2px $colour-brg solid;
}

P {
  font-size: 16px;
  line-height: 20px;
  padding-left: 1rem;
  padding-right: 1rem;
}

a {
  text-decoration: none;
  font-weight: 700;
  color: $colour-brg;
  transition: $transition-default;
  &:hover {
    color: #00a960;
  }
}

.container {
  margin: 0 auto;
  padding: 0 1rem 0.5rem;
  max-width: $container-width;
  background: $colour-background;
}


.content {
  @include no-spacing;
  background: $colour-background;
  padding: 1rem;
}

footer {
  p {
    display: inline;
    margin-right: 20px;
    font-size: 0.75rem;
  }
  .content {
    padding-bottom: 0;
  }
}
