@import 'fonts/font-inconsolata';
@import 'fonts/font-inter';
@import 'theme/theme';
@import 'components/nav';

body {
  @include no-spacing;
  font-family: $font-main;
  font-weight: $font-normal;
  background: $colour-background;
}

h1, h2, h3, h4, h5 {
  font-family: $font-header;
  font-weight: $font-bold;
  margin: 0;
  color: $colour-brg;
  line-height: 1.2;
}

h1, h2 {
  padding: 0.5rem 1rem;
  border-bottom: 2px $colour-brg solid;
  font-size: 2rem;
}

h3 {
  font-size: 1.5rem;
  padding: 2rem 1rem 0;
}

h4 {
  font-size: 1.25rem;
  padding: 1rem 1rem 0;
}

h5 {
  font-size: 1rem;
  font-style: italic;
  padding: 0.5rem 1rem 0;
}

P {
  font-size: 1rem;
  line-height: 1.5;
  padding-left: 1rem;
  padding-right: 1rem;
  margin: 0.5rem 0 1rem;
}

a {
  text-decoration: none;
  font-weight: 700;
  color: $colour-brg;
  transition: $transition-default;
  &:hover {
    color: #00a960;
  }
}

.container {
  margin: 0 auto;
  padding: 0 1rem 0.5rem;
  max-width: $container-width;
  background: $colour-background;
}

.content {
  @include no-spacing;
  background: $colour-background;
  padding: 1rem 0;

  hr {
    width: 30%;
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid $colour-brg;
    margin: 2rem auto 1rem;
    padding: 0;
  }
}

header {
  p {
    margin-top: 0;
    font-size: 0.8rem;
  }
}

footer {
  .content {
    padding: 2rem 0 0 1rem;
    display: flex;
    column-gap: 2rem;

    @include mq-mobile {
      flex-direction: column;
      column-gap: 0;
      row-gap: 1rem;
    }
  }

  span {
    font-size: 0.75rem;
  }
}
