@import 'utils/variables';
@import 'components/nav';

@mixin no-spacing {
  margin: 0;
  padding: 0;
}

body {
  @include no-spacing;
  font-family: $font-main;
  font-weight: $font-normal;
  background: $colour-background;
}

h1 {
  font-family: $font-main;
  font-weight: $font-bold;
  color: $colour-brg;
  margin: 0;
  padding: 0.5rem 1rem;

  border-bottom: 2px $colour-brg solid;
}

P {
  font-size: 16px;
  line-height: 20px;
}

a {
  text-decoration: none;
  color: $colour-brg;
  &:hover {
    color: #00a960;
  }
  &:visited {
    color: $colour-brg;
  }
}

.container {
  margin: 0 auto;
  padding: 0 0 0.5rem 0;
  max-width: 768px;
  background: white;
}


.content {
  @include no-spacing;
  background: white;
  padding: 1rem;
}

.centered-popup {
  position: fixed;
  height: 100%;
  width: 100%;
  z-index: 2;
  background: rgba(50,50,50,0.5);
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  .container {
    position: absolute;
    margin: 0 auto;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    -ms-transform: translate(-50%,-50%);
    border-radius: 10px;

    * {
      padding: 0.5rem;
    }

    .btn {
      padding: 0.25rem;
      margin: 0 1rem;
      background-color: green;
      color: white;
    }
  }

}

footer {
  p {
    display: inline;
    margin-right: 20px;
    font-size: 0.75rem;
  }
  .content {
    padding-bottom: 0;
  }
}
