@import 'theme/theme';
@import 'components/nav';

body {
  @include no-spacing;
  font-family: $font-main;
  font-weight: $font-normal;
  background: $colour-background;
}

h1 {
  font-family: $font-main;
  font-weight: $font-bold;
  color: $colour-brg;
  margin: 0;
  padding: 0.5rem 1rem;

  border-bottom: 2px $colour-brg solid;
}

P {
  font-size: 16px;
  line-height: 20px;
  padding-left: 1rem;
  padding-right: 1rem;
}

a {
  text-decoration: none;
  font-weight: 700;
  color: $colour-brg;
  transition: $transition-default;
  &:hover {
    color: #00a960;
  }
}

.container {
  margin: 0 auto;
  padding: 0 1rem 0.5rem;
  max-width: $container-width;
  background: $colour-background;
}


.content {
  @include no-spacing;
  background: $colour-background;
  padding: 1rem 0;
}

footer {
  .content {
    padding: 2rem 0 0 1rem;
    display: flex;
    column-gap: 2rem;

    @include mq-mobile {
      flex-direction: column;
      column-gap: 0;
      row-gap: 1rem;
    }
  }

  span {
    font-size: 0.75rem;
  }
}
