@font-face {
  font-family: 'Inconsolata';
  font-style: normal;
  font-weight: 400 700;
  font-stretch: 100%;
  font-display: swap;
  src: local('Inconsolata'),
    url("../assets/fonts/inconsolata.woff2") format("woff2");
}