@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    html {
        @apply h-full;
    }

    body {
        @apply min-h-full;
        print-color-adjust: exact;
    }

    h1 {
        @apply text-2xl text-emerald-900 font-semibold mb-4;
    }

    p {
        @apply text-slate-900 text-base mb-2;
    }

    a {
        @apply text-emerald-950 hover:text-emerald-800 font-medium hover:underline;
    }

    section {
        @apply mb-12;
    }
}
