@import "tailwindcss";

@plugin "tailwindcss-animate";

@custom-variant dark (&:where(.dark, .dark *));

@theme {
    --font-sans: var(--font-inter);
    --font-mono: var(--font-jbmono);

    --breakpoint-2xl: 1400px;

    --animate-accordion-down: accordion-down 0.2s ease-out;
    --animate-accordion-up: accordion-up 0.2s ease-out;

    @keyframes accordion-down {
        from {
            height: 0;
        }

        to {
            height: var(--radix-accordion-content-height);
        }
    }

    @keyframes accordion-up {
        from {
            height: var(--radix-accordion-content-height);
        }

        to {
            height: 0;
        }
    }
}

@utility container {
    margin-inline: auto;
    padding-inline: 1rem;
}

@layer base {
    html {
        @apply h-full;
    }

    body {
        @apply min-h-full;
        print-color-adjust: exact;
    }

    h1 {
        @apply text-2xl text-emerald-900 font-semibold mb-4;
    }

    p {
        @apply text-slate-900 text-base mb-2;
    }

    a {
        @apply text-emerald-950 hover:text-emerald-800 font-medium underline;
    }

    section {
        @apply mb-12;
    }
}
