@font-face {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400 700;
  font-stretch: 100%;
  font-display: swap;
  src: local('Inter'),
    url("../assets/fonts/inter.woff2") format("woff2");
}