$font-main: "Jost", Verdana, "DeJaVu Sans", sans-serif;

$font-bold: 700;
$font-normal: 400;

$colour-main: #005D65;
$colour-brg: #00663a;
$colour-background: #e8e8e8;

$bp-sm: 576px;
$bp-md: 768px;
$bp-lg: 992px;
$bp-xl: 1200px;

$container-width: 720px;

$transition-default: all 200ms ease-in-out;
