@import "../theme/variables";

$nav-height: 5rem;
$transition-nav: all 100ms linear;

header {
  width: 100%;
  background: $colour-brg;

  .container {
    padding: 0 2rem;
    background: $colour-brg;

    @media screen and (max-width: $bp-sm - 0.02px) {
      padding: 0 1rem;
    }
  }
}

.nav {
  padding: 0;
  background: $colour-brg;
  color: white;
  margin: 0;
  line-height: $nav-height;
  font-family: $font-main;
  font-weight: 700;
  display: flex;
  align-items: center;
  justify-content: space-between;

  @media screen and (max-width: $bp-sm - 0.02px) {
    flex-direction: column;
    row-gap: 1rem;
    justify-content: left;
  }

  &__header {
    display: inline-block;
    font-size: 25px;
    margin: 0;

    @media screen and (max-width: $bp-sm - 0.02px) {
      display: none;
    }
  }

  &__links {
    @media screen and (max-width: $bp-sm - 0.02px) {
      position: sticky;
      top: 0;
    }

    a {
      font-size: 1rem;
      color: white;
      padding: 0 1rem;
      line-height: $nav-height;
      display: inline-block;
      margin-left: 1rem;
      transition: $transition-nav;
      font-weight: $font-bold;

      &:hover, &.active {
        color: $colour-brg;
        background: white;
      }

      &.active {
        cursor: default;
      }
    }
  }
}
