@import "../theme/theme";

$nav-height-desktop: 5rem;
$nav-height-mobile: 1.5rem;
$transition-nav: all 100ms linear;

header {
  width: 100%;
  background: $colour-brg;

  .container {
    padding: 0 2rem;
    background: $colour-brg;

    @include mq-mobile {
      padding: 0 1rem;
    }
  }
}

.nav {
  padding: 0;
  background: $colour-brg;
  color: white;
  margin: 0;
  line-height: $nav-height-desktop;
  font-family: $font-main;
  font-weight: 700;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  row-gap: 1rem;

  @include mq-mobile {
    justify-content: space-between;
    align-items: center;
    line-height: $nav-height-mobile;
    padding: 1rem 0;
  }

  &__header p {
    font-size: 1.5rem;
    margin: 0;
    text-align: left;
  }

  &__links {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    column-gap: 1rem;
    row-gap: 0;
    flex-wrap: wrap;

    @include mq-mobile {
      flex-direction: column;
      column-gap: 0;
      row-gap: 1rem;
    }

    a {
      font-size: 1rem;
      color: white;
      padding: 0 1rem;
      line-height: $nav-height-desktop;
      display: inline-block;
      transition: $transition-nav;
      font-weight: $font-bold;
      text-align: center;

      &:hover, &.active {
        color: $colour-brg;
        background: white;
      }

      &.active {
        cursor: default;
      }

      &:last-child {
        margin-right: 0;
      }

      @include mq-mobile {
        line-height: $nav-height-mobile;
        padding: 0 0.5rem;
        min-width: 6rem;
      }
    }
  }
}
